@using uy.federicod.dnsmanager.logic.Models
@model List<DomainModel>
@{
    ViewData["Title"] = "My Domains";

}
<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of your registerd domains:</h5>

                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Zone</th>
                                <th>Delegation Type</th>
                                <th>Action</th>
                                <th>Manage DNS</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (DomainModel domain in Model)
                                {
                                    string url = "http://" + domain.DomainName + "." + domain.ZoneName;
                                    <tr>
                                        <td>
                                            <a href="@url" target="_blank">@domain.DomainName</a>
                                        </td>
                                        <td>@domain.ZoneName</td>
                                        <td>@domain.DelegationType</td>
                                        <td><a class="btn btn-primary" asp-action="Edit" asp-controller="Domain" asp-route-id="@domain.DomainName" asp-route-zonename="@domain.ZoneName">Edit</a></td>
                                        <td><a class="btn btn-primary" asp-action="Manage" asp-controller="Domain" asp-route-id="@domain.DomainName" asp-route-zonename="@domain.ZoneName">Manage DNS</a></td>
                                        </tr>
                                    }
                                }
                            else
                            {
                                <tr>
                                    <td colspan="5">You don't have any domain yet.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

